body {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  color: #CCCCCC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#weather-icon {
  margin: 0 auto;
  width: 128px;
}

#root {
  margin: 0 auto;
  width: 500px;
}

#forecastTable {
  width: 500px;
}